.venv/
.venv_5090_llm/
.venv_5090_tts/

models/

outputs_5090/
recordings/
results/
results_5090/

__pycache__/
*.pyc

next_stage/**/runs/
backup/
prompt_cache/
certs/ca/
certs/server/
certs/clients/
*.key
*.pem

third_party/CosyVoice/
